* {
  margin: 0;
  padding: 2;
  box-sizing: border-box;
}
body {
  min-height: 90vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: sans-serif;
  background-color: rgb(1, 1, 1);
  background-image: linear-gradient(rgb(0, 1, 0, 0.5), rgb(0, 0, 0, 0.5));
  color: pink;
  transition: background-color 500ms ease;
} /* header */
header {
  position: absolute;
  z-index: 999;
  text-align: center;
  top: 0rem;
  padding: 1rem;
  background: inherit;
}
.container {
  position: relative;
  width: min(470px, 500%);
} /* holidays */
ul {
  list-style: none;
  width: 150%;
  height: 40%;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
}
ul > li {
  position: absolute;
  left: 40%;
  top: calc(50% - 1.1rem);
  --rotateX: calc(
    1deg * var(--rotateDegrees) * calc(var(--day_idx) - var(--currentDay))
  );
  transform: rotateX(var(--rotateX)) translateZ(190px) translateX(-50%)
    scale(var(--scale, 0.9));
  --hue: calc(var(--rotateDegrees) * var(--day_idx));
  background-color: hsl(var(--hue), 30%, var(--lightness, 40%));
  width: 90%;
  color: white;
  display: grid;
  grid-template-columns: 2.1rem auto;
  height: 2rem;
  transition: transform 500ms ease, background-color 500ms ease;
}
ul > li.active {
  --lightness: 30%;
  --scale: 1.2;
}
ul > li > * {
  display: grid;
  align-items: center;
}
li > time {
  text-align: center;
}
li > span {
  padding-inline-start: 0.5rem;
  color: white;
} /* controls */
.controls {
  position: absolute;
  top: 50%;
  left: 140%;
  transform: translateY(-60%);
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
.controls button {
  width: 1.7rem;
  aspect-ratio: 2;
  font-size: 1.1rem;
  color: white;
  border: none;
  background: #39657e;
  display: flex;
  place-items: center;
}
.controls button:hover,
.controls button:focus {
  background: rgb(6, 60, 131);
}
.controls button:active {
  transform: scale(0.9);
}
.border {
  width: 100%;
  height: 3em;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
